{% extends 'master.html' %}

{% block titulo %} Búsqueda de Ejercicios (nombre o instrucciones) {% endblock %}

{% block contenido %} 

<form id="formulario" method="post" action=''>{% csrf_token %}
    <fieldset style="display: flex; justify-content: space-between;">
        <legend>Búsqueda de ejercicios que contienen un término en el nombre o instrucciones</legend>
        {{ formulario.as_p }}
        <br><br>
        <input type='submit' class="btn btn-primary" value='Realizar Búsqueda'/>
    </fieldset>
</form>

<hr>

{% if items %}
    <h4 class="mt-4">Ejercicios que contienen el término "<span style="font-style: italic">{{ termino }}</span>" en el nombre o en las instrucciones:</h4>
    {% include 'lista_ejercicios.html' %}
{% else %}
    <p class="text-muted">No se encontraron ejercicios que coincidan con el término "<span style="font-style: italic">{{ termino }}</span>".</p>
{% endif %}

{% endblock %}


