{% extends 'master.html' %}

{% block titulo %} Búsqueda de Rutinas (nombre o descripción) {% endblock %}

{% block contenido %} 

<form id="formulario" method="post" action=''>{% csrf_token %}
    <fieldset style="display: flex; justify-content: space-between;">
        <legend>Búsqueda de rutinas que contienen un término en el nombre o descripción</legend>
        {{ formulario.as_p }}
        <br><br>
        <input type='submit' class="btn btn-primary" value='Realizar Búsqueda'/>
    </fieldset>
</form>

<hr>

{% if items %}
    <h4 class="mt-4">Rutinas que contienen el término <span style="font-style: italic">{{ termino }}</span> en el nombre o en la descripción:</h4>
    {% include 'lista_rutinas.html' %}
{% elif termino != None %}
    <p class="text-muted">No se encontraron rutinas que coincidan con el término <span style="font-style: italic">{{ termino }}</span>.</p>
{% endif %}

{% endblock %}


