{% extends 'master.html' %}

{% block titulo %} Búsqueda de Ejercicios {% endblock %}

{% block contenido %} 

<form id="formulario" method="post" action=''>{% csrf_token %}
    <fieldset style="display: flex; justify-content: space-between;">
        <legend>Búsqueda de ejercicios</legend>
        {{ formulario.as_p }}
        <br><br>
        <input type='submit' class="btn btn-primary" value='Realizar Búsqueda'/>
    </fieldset>
</form>

<hr>

{% if items %}
    {% include 'lista_ejercicios.html' %}
{% else %}
    <p class="text-muted">No se encontraron ejercicios que coincidan con los filtros seleccionados.</p>
{% endif %}

{% endblock %}


