{% extends 'master.html' %}

{% block titulo %} Mis favoritos {% endblock %}

{% block contenido %} 

<ul>
    {% for favourite in favourites %}
        <li>
            {% if favourite.workout %}
                Rutina: <a style="color:black" href='/rutina/{{favourite.workout.link}}'>{{ favourite.workout.workoutName }}</a>
                <button class="favourite-btn favourite" style="color: black" data-type="w" data-id="{{ favourite.workout.id }}">Remove</button>
            {% elif favourite.exercise %}
                Ejercicio: <a style="color:black" href='/ejercicio/{{favourite.exercise.idExercise}}'>{{ favourite.exercise.exerciseName }}</a>
                <button class="favourite-btn favourite" style="color: black" data-type="e" data-id="{{ favourite.exercise.idExercise }}">Remove</button>
            {% endif %}
        </li>
    {% empty %}
        <p>No tienes favoritos guardados.</p>
    {% endfor %}
</ul>

{% endblock %}
