{% extends 'master.html' %}
{% load threadedcomments_tags %}

{% block titulo %} Detalles de la Rutina {% endblock %}

{% block contenido %}
<br>

<div class="card mb-4 shadow-sm" style="justify-items: center; padding-bottom: 1px;">
    <div class="card-body" style="
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
        background-color: #cae8f1;
        padding: 10px;
        width: 90%;
        flex-direction: column;
        padding-inline: 30px;
        border: 1px solid;
        border-radius: 10px;
    ">
        <div style="
        position: absolute;
        right: 11vh;
        top: 38vh;">
            <a href="javascript:history.back()">Atrás</a>
        </div>
        <div class="card-text" style="justify-items: center; padding-top: 10px;">
            <h3 class="card-title">{{ rutina.workoutName }}</h3>
            <hr style="
                width: 50vh;
                border-top: 1px solid black;
            ">
        </div>
        <div class="info" style="
            display: flex;
            justify-content: space-between;
        ">
            <div style="
                align-self: center;
            ">
                <strong>Categoría: &nbsp;</strong> {{ rutina.workoutCategory }}<br>
                <strong>Nivel: &nbsp;</strong> {{ rutina.level|default:"N/A" }}<br>
                <strong>Género: &nbsp;</strong> {{ rutina.gender|default:"N/A" }}<br>
                <strong>Partes del cuerpo: &nbsp;</strong> {{ rutina.bodyPart|default:"N/A" }}<br>
                <strong>Descripción: &nbsp;</strong> {{ rutina.description|default:"N/A" }}<br>
            </div>
        </div>
        <div class="info" style="
            display: flex;
            flex-direction: column;
            justify-content: center;
        ">
            <br><br>
            {% for day in days %}
                {% if day|length > 0 %}
                    <div class="table-container" style="margin-bottom: 20px;">
                        <table class="table" style="width: 100%; border-collapse: collapse;">
                            <thead>
                                <tr style="background-color: #f8f9fa; text-align: left; border-bottom: 2px solid #dee2e6;">
                                    <th style="padding: 10px; font-weight: bold;">Día {{ forloop.counter }}</th>
                                    <th style="padding: 10px; font-weight: bold;">Ejercicio</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for exercise in day %}
                                    <tr>
                                        <td style="padding: 10px; color: #495057;"></td>
                                        <td style="padding: 10px; color: #495057;"><a href='/ejercicio/{{exercise.id}}'> {{ exercise.exerciseName }}</a></td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endif %}
            {% endfor %}        
        </div>
    </div>
</div>

<h2>Comentarios</h2>

{% render_comment_list for rutina %}
{% render_comment_form for rutina %}


<div>
    <h2 style="text-align: center">Rutinas similares</h2>
    {% if rutinas %}
        {% include 'lista_rutinas.html' %}
    {% endif %}

</div>

{% endblock %}